{% extends "layout.html" %}
{% load currency_filters status_filters %}

{% block head %}
    <style>
        #jumbo{
            background-color: #343a40;
            text-align: center;
            color: #fff;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="page-header">
        {{ organization.display_name }} <small>/ organization detail</small>
        <div class="btn-group pull-right">
            <a href="{% url 'books:organization-edit' organization.pk %}" class="btn btn-secondary" role="button">Edit</a>
        </div>
    </h1>

    <div class="row placeholders" style="margin-top: 5%">
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="jumbotron" id="jumbo">
                <div class="figure text-center">
                    <h4>{{ organization.turnover_excl_tax|currency|default:"-" }}</h4>
                    <span>Turnover</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="jumbotron" id="jumbo">
                <div class="figure text-center">
                    <h4>{{ organization.profits|currency|default:"-" }}</h4>
                    <span>Profits</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="jumbotron" id="jumbo">
                <div class="figure text-center">
                    <h4>{{ organization.tax_provisionning|currency|default:0 }}</h4>
                    <span>Tax Provisionning</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="jumbotron" id="jumbo">
                <div class="figure text-center">
                    <h4>{{ organization.overdue_total|currency|default:0 }}</h4>
                    <span>Due payments</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-6" style="padding-bottom:20px">
            <div class="card bg-dark text-white" style="border-radius:10px; background: #000; border: 1px">
                <div class="card-header overflow-box">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="pull-left">
                                Invoices
                                <small>/ what you earn</small>
                            </h4>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group pull-right" style="margin-top:2%">
                                <a href="{% url 'books:invoice-create' %}" class="btn btn-secondary" role="button">
                                    Add an invoice
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light text-dark" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; ">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr style="margin-left: 0px; width: 540px; margin-right: 0px; ">
                                    <th class="text-center">#</th>
                                    <th class="text-center">Client</th>
                                    <th class="text-center">Organization</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sale in invoices %}
                                <tr class="{{ sale|status_to_css_classname }}" style="margin-left: 0px; width: 540px; margin-right: 0px; ">
                                    <td class="text-center">{{ sale.number }}</td>
                                    <td class="text-center">{{ sale.client }}</td>
                                    <td class="text-center">{{ sale.organization }}</td>
                                    <td class="text-center">{{ sale.total_excl_tax|currency }}</td>
                                    <td class="text-center">
                                        <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6" style="padding-bottom:20px">
            <div class="card bg-dark text-white" style="border-radius:10px; background: #000; border: 1px">
                <div class="card-header overflow-box">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="pull-left">Bills <small> / what you owe</small></h4>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group pull-right" style="margin-top:2%">
                                <a href="{% url 'books:bill-create' %}" class="btn btn-secondary btn-md" role="button">
                                    Add an bill
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light text-dark" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; ">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr style="margin-left: 0px; width: 540px; margin-right: 0px; ">
                                    <th class="text-center">#</th>
                                    <th class="text-center">Client</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sale in bills %}
                                <tr class="{{ sale|status_to_css_classname }}" style="margin-left: 0px; width: 540px; margin-right: 0px; ">
                                    <td class="text-center">{{ sale.number }}</td>
                                    <td class="text-center">{{ sale.client }}</td>
                                    <td class="text-center">{{ sale.description }}</td>
                                    <td class="text-center">{{ sale.total_excl_tax|currency }}</td>
                                    <td class="text-center">
                                        <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
