{% extends "layout.html" %}
{% load static bootstrap3 introspection_filters widget_tweaks %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <h1 class="page-header">Create an {{ form|get_form_model_verbose_name }}</h1>

    <form action="." method="post" class="form">
        {% csrf_token %}

        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_number">Number:</label>
                {% if form.name.value %}
                <input type="number" name="number" maxlength="256" value="{{form.number.value}}" class="form-control {% if form.number.errors %}is-invalid{% else%}is-valid{% endif %}"
                    required id="id_number" />
                {% else %}
                    {{ form.number|add_class:"form-control" }}
                {% endif %}
                <div class="invalid-feedback">{{ form.number.errors }}</div>
            </div>
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_client">Client:</label>
                <select class="form-control" id="id_client" name="client">
                    {% if form.client.value %}
                        <option value="{{ form.client.value }}">{{ form.client.value }}</option>
                    {% else %}
                        <option value="" selected>-</option>
                    {% endif %}
                    {% for client in view.clients %}
                        <option value="{{client.id}}">{{client.name}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">{{ form.client.errors }}</div>
            </div>
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_date_issued">Date Issued:</label>
                <div id="filterDate2">
                    <div class="input-group date" id="id_date_issued" data-date-format="dd.mm.yyyy">
                        <input type="text" name="date_issued" id="id_date_issued" class="form-control" value="">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-12">
                <label for="id_date_dued">Due Date:</label>
                <div id="filterDate2">
                    <div class="input-group date" id="id_date_dued" data-date-format="dd.mm.yyyy">
                        <input type="text" name="date_dued" autocomplete="off" id="id_date_dued" class="form-control" value="">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                {% if form.date_dued.help_text %}
                <small class="form-text text-muted">
                    {{ form.date_dued.help_text }}
                </small>
                {% endif %}
            </div>
        </div>

        <h2 class="page-header">Content</h2>
        {{ line_formset.management_form }}
        {{ line_formset.non_field_errors }}
        <table class="table table-striped table-bordered">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit (excl. tax)</th>
                <th>Qt.</th>
                <th>Tax rate</th>
                <th>Total</th>
            </thead>
            <tbody>
            {% for line_form in line_formset %}
                {{ line_form.non_form_errors }}
                {% for hidden in line_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <tr class="formset-form">
                    <td class="col-md-0 counter">
                        {{ forloop.counter }}
                        {{ line_form.id }}
                    </td>
                    <td class="col-md-2">
                        {% render_field line_form.item class="form-control" onchange='onchangeFn(this)' %}
                        {% render_field line_form.label class="form-control" type="hidden" %}
                        <div class="invalid-feedback">{{ line_form.label.errors }}</div>
                    </td>
                    <td class="col-md-4">
                        {% bootstrap_field line_form.description show_label=False %}
                        <div class="invalid-feedback">{{ line_form.description.errors }}</div>
                    </td>
                    <td class="col-md-2">
                        {% bootstrap_field line_form.unit_price_excl_tax show_label=False %}
                        <div class="invalid-feedback">{{ line_form.unit_price_excl_tax.errors }}</div>
                    </td>
                    <td class="col-md-1">
                        {% bootstrap_field line_form.quantity show_label=False %}
                        <div class="invalid-feedback">{{ line_form.quantity.errors }}</div>
                    </td>
                    <td class="col-md-1">
                        {% bootstrap_field line_form.tax_rate show_label=False %}
                        <div class="invalid-feedback">{{ line_form.tax_rate.errors }}</div>
                    </td>
                    <td>{{ line_form.DELETE }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% buttons layout='vertical' %}
            <button type="submit" class="btn btn-success">
                {% bootstrap_icon "star" %} Create
            </button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/books/invoice_or_bill_create.js' %}"></script>
    <script type="text/javascript">
        $('#id_client').select2({
            selectOnClose: true
        });

        function onchangeFn(selection) {
            var id= $(selection).attr('id');
            var num = id.match(/\d+/)[0];
            var strlabel1 = selection.options[selection.selectedIndex].text;
            $('#id_lines-'+num+'-label').val(strlabel1);
        }

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function isInt(value) {
            return !isNaN(value) &&
                parseInt(Number(value)) == value &&
                !isNaN(parseInt(value, 10));
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#id_lines-0-item').keyup(function () {
            var id_lines = $(this).val();
            clearTimeout(typingTimer);
            if (id_lines.length >= 3) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }
        });

        $('#id_lines-0-item').on('autocompleteselect', function (e, ui) {
            console.log("e" + e);
            console.log("ui" + ui);
        });

        $("#id_lines-0-item").change(function () {
            var id = $(this).val();
            var startID = $(this).attr('id').replace("item", "");
            console.log(startID);
            if (!isInt(id)) {
                $("#id_id").val(id);
                return;
            }
            $.ajax({
                type: "POST",
                url: "{% url 'books:item-get-data' %}",
                data: {
                    "id": id,
                },
                dataType: 'json',
                success: function (data, status) {
                    console.log("id: " + id);
                    $("#" + startID + "id").val(id);
                    // $("#" + startID + "label").val(data.label);
                    $("#" + startID + "description").val(data.description);
                    $("#" + startID + "unit_price_excl_tax").val(data.unit_price_excl_tax);
                    $("#" + startID + "quantity").val(data.quantity);
                    $("#" + startID + "tax_rate").val(data.tax_rate);
                }
            });
        });

        $("#searchbutton").click(function () {
            $.post("{% url 'books:item-get-data' %}",
                {
                    "id": $("input[id=id_lines-0-label]").val(),
                },
                function (data, status) {
                    alert("model: " + data.model + "\nStatus: " + status);
                }
            );
        });

        $('#id_date_issued').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: true,
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true
        }).datepicker('setDate', 'today');

        $('#id_date_dued').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: true,
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true
        });
    </script>
{% endblock %}
