{% extends "layout.html" %}
{% load currency_filters status_filters %}

{% block content %}
    <h1 class="page-header">
        {{ organization.display_name }} <small>/ organization detail</small>
        <div class="btn-group pull-right">
            <a href="{% url 'books:organization-edit' organization.pk %}" class="btn btn-default" role="button">Edit</a>
        </div>
    </h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3">
            <div class="figure">
                <h4>{{ organization.turnover_excl_tax|currency|default:"-" }}</h4>
                <span class="text-muted">Turnover</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="figure">
                <h4>{{ organization.profits|currency|default:"-" }}</h4>
                <span class="text-muted">Profits</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="figure">
                <h4>{{ organization.tax_provisionning|currency|default:0 }}</h4>
                <span class="text-muted">Tax Provisionning</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="figure">
                <h4>{{ organization.overdue_total|currency|default:0 }}</h4>
                <span class="text-muted">Due payments</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1 class="page-header">Invoices
                <small>which belong to you</small>
            </h1>
            {% include "books/_generics/sale_list.html" with sales=invoices detailed=True %}
            <a href="{% url 'books:invoice-create' %}" class="btn btn-primary btn-lg" role="button">
                Add an invoice
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h1 class="page-header">Bills
                <small>which belong to you</small>
            </h1>
            <table id="datatable1" class="table table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr class="row">
                        <th>#</th>
                        <th>Client</th>
                        {% if detailed %}
                        <th>Description</th>
                        {% endif %}
                        <th class="col-sm-2">Total</th>
                        <th class="text-right col-sm-4">Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="row">
                        <th>#</th>
                        <th>Client</th>
                        {% if detailed %}
                        <th>Description</th>
                        {% endif %}
                        <th class="col-sm-2">Total</th>
                        <th class="text-right col-sm-4">Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for sale in bills %}
                    <tr class="row {{ sale|status_to_css_classname }}">
                        <td>{{ sale.number }}</td>
                        <td>{{ sale.client }}</td>
                        {% if detailed %}
                        <td>{{ sale.description }}</td>
                        {% endif %}
                        <td class="col-sm-2">{{ sale.total_excl_tax|currency }}</td>
                        <td class="text-right col-sm-4">
                            <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
                            {% if not hide_edit %}
                            <a href="{{ sale.get_edit_url }}" class="btn btn-default btn-sm" role="button">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'books:bill-create' %}" class="btn btn-primary btn-lg" role="button">
                Add an bill
            </a>
        </div>
    </div>
{% endblock content %}
