{% extends "base.html" %}
{% load nav bootstrap3 %}
{% block maincontent %}
{% block nav %}
<div class="wrapper" style="height: auto; min-height: 100%;">

    <header class="main-header">
        <!-- Logo -->
        <a style="background-color: rgb(52, 55, 58);" href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span style="background-color: rgb(52, 55, 58);" class="logo-mini">
                <b>BETA</b>
            </span>
            <!-- logo for regular state and mobile devices -->
            <span style="background-color: rgb(52, 55, 58);" class="logo-lg">
                <b>BETA</b>ccounting</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <div class="navbar navbar-expand-md navbar-dark bg-dark navbar-static-top" style="height: 50px; padding-left: 0px;">
            <!-- Sidebar toggle button-->
            <ul class="navbar-nav mr-auto">
                <a href="#" id="toggle" style="padding-bottom: 12px; padding-top: 13px; float:left" class="sidebar-toggle" data-toggle="push-menu"
                    role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </ul>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarNavDropdown" class="navbar-collapse collapse"> -->
            <ul class="navbar-nav ml-auto">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!-- <div class="col-xs-6" style="padding-top: 8px; padding-right: 15px;">
                        <li class="nav-item">
                            <a style="color: #fff; padding-right: 12px;" href="{{ getting_started_url }}">
                                <span>Getting started</span>
                            </a>
                        </li>
                    </div> -->
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-xs-6" style="padding-right: 20px;">
                        {% url 'connect:getting-started' as getting_started_url %}
                        <a href="{{ getting_started_url }}" class="nav-link">
                            <span> Getting Started </span>
                        </a>
                    </div>
                        <a class="nav-link dropdown-toggle" style="padding-right:15px" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{ user.username }}
                            <span class="caret"></span>
                        </a>
                    <div class="dropdown-menu" style="left: -90; right: 0px;" aria-labelledby="userMenu">
                        <a class="dropdown-item" style="color:#000" href="#">My account</a>
                        <a class="dropdown-item" style="color:#000" href="#">Change password</a>
                        <a class="dropdown-item" style="color:#000" href="{% url 'logout' %}">Log out</a>
                    </div>
                </div>
                {% endif %}
            </ul>
        </div>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
            <!-- Sidebar user panel -->

            <!-- search form -->

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu tree tab-menu" data-widget="tree">
                {% url 'books:dashboard' as books_dashboard_url %}
                <li class="{% if active_tab == 'dashboard' %} active{% endif %}">
                    <a href="{{ books_dashboard_url }}">
                        <i class="fa fa-home"></i>
                        <span>Overview</span>
                    </a>
                </li>
                <li class="header">Accounting</li>
                {% url 'books:estimate-list' as books_estimate_list_url %}
                {% url 'books:invoice-list' as books_invoice_list_url %}
                {% url 'books:bill-list' as books_bill_list_url %}
                {% url 'books:expense_claim-list' as books_exepense_claim_list_url %}
                {% url 'books:tax_rate-list' as books_tax_rate_list_url %}
                {% url 'books:item-list' as item_list_url %}
                <li class="{% if active_tab == 'estimate-list' %} active{% endif %}">
                    <a href="{{ books_estimate_list_url }}">
                        <i class="fa fa-files-o"></i>
                        <span>Estimates</span>
                    </a>
                </li>
                <li class="{% if active_tab == 'invoice-list' %} active{% endif %}">
                    <a href="{{ books_invoice_list_url }}">
                        <i class="fa fa-file"></i>
                        <span>Invoice</span>
                    </a>
                </li>
                <li class="{% if active_tab == 'bill-list' %} active{% endif %}">
                    <a href="{{ books_bill_list_url }}">
                        <i class="fa fa-newspaper-o"></i>
                        <span>Bills</span>
                    </a>
                </li>
                <li class="{% if active_tab == 'expense_claim-list' %} active{% endif %}">
                    <a href="{{ books_exepense_claim_list_url }}">
                        <i class="fa fa-inr fa-lg"></i>
                        <span>Expense Claims</span>
                    </a>
                </li>
                <li class="{% if active_tab == 'item-list' %} active{% endif %}">
                    <a href="{{ item_list_url }}">
                        <i class="fa fa-inbox fa-lg"></i>
                        <span>Items</span>
                    </a>
                </li>
                <li class="{% if active_tab == 'tax_rate-list' %} active{% endif %}">
                    <a href="{{ books_tax_rate_list_url }}">
                        <i class="fa fa-money"></i>
                        <span>Tax Rates</span>
                    </a>
                </li>
                <li class="header">People</li>
                {% url 'people:client-list' as clients_client_list_url %}
                {% url 'people:employee-list' as employees_employee_list_url %}
                <li class="{% if active_tab == 'client-list' %} active{% endif %}">
                    <a href="{{ clients_client_list_url }}">
                        <i class="fa fa-users"></i>
                        <span>Clients</span>
                    </a>
                </li>
                <li class="{% if active_tab == 'employee-list' %} active{% endif %}">
                    <a href="{{ employees_employee_list_url }}">
                        <i class="fa fa-user"></i>
                        <span>Employees</span>
                    </a>
                </li>
                <li class="header">Settings</li>
                {% url 'reports:report-list' as reports_report_list_url %}
                <li class="{% if active_tab == 'report-list' %} active{% endif %}">
                    <a href="{{ reports_report_list_url }}">
                        <i class="fa fa-send"></i>
                        <span>Reports</span>
                    </a>
                </li>
                {% url 'reports:settings-list' as reports_settings_list_url %}
                <li class="{% if active_tab == 'settings-list' %} active{% endif %}">
                    <a href="{{ reports_settings_list_url }}">
                        <i class="fa fa-sliders"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    {% block container %}
    <div class="content-wrapper">
        <div class="container" style="min-height:700px; padding-top:10px; padding-bottom:50px; padding-right:15px">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% endblock container %}
</div>
{% endblock nav %}
{% endblock maincontent %}