{% load currency_filters status_filters %}

<table id="datatable" class="table table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr class="row">
            <th>#</th>
            <th>Name</th>
            {% if detailed %}
            <th>Description</th>
            {% endif %}
            <th>Price</th>
            <th>Quantity</th>
            <th>Tax Rate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr class="row">
            <th>#</th>
            <th>Name</th>
            {% if detailed %}
            <th>Description</th>
            {% endif %}
            <th>Price</th>
            <th>Quantity</th>
            <th>Tax Rate</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    <tbody>
        {% for sale in sales %}
        <tr class="row">
            <td>{{ forloop.counter }}</td>
            <td>{{ sale.name }}</td>
            {% if detailed %}
            <td>{{ sale.description }}</td>
            {% endif %}
            <td>{{ sale.unit_price_excl_tax|currency }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.tax_rate }}</td>
            <td>
                <a href="{% url 'books:item-delete' pk=sale.pk %}" class="btn btn-danger btn-sm" role="button">Delete</a>
                {% if not hide_edit %}
                <a href="{% url 'books:item-edit' pk=sale.pk %}" class="btn btn-default btn-sm" role="button">Edit</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>