{% load currency_filters status_filters %}
<div class="table-responsive-xl">
<table class="table table-bordered table-striped" cellspacing="0" width="100%">
    <thead>
        <tr class="row" style="margin-left: 0px; width: 540px; margin-right: 0px; ">
            <th class="col-xs-1">#</th>
            <th class="col-xs-3">Client</th>
            {% if detailed %}
                <th class="col-xs-4">Description</th>
                <th class="col-xs-2">Total</th>
                <th class="text-right col-xs-2">Actions</th>
            {% else %}
                <th class="col-xs-4">Total</th>
                <th class="text-right col-xs-4">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr class="row {{ sale|status_to_css_classname }}" style="margin-left: 0px; width: 540px; margin-right: 0px; ">
            <td class="col-xs-1">{{ sale.number }}</td>
            <td class="col-xs-3">{{ sale.client }}</td>
            {% if detailed %}
            <td class="col-xs-3">{{ sale.description }}</td>
            {% endif %}
            <td class="col-xs-2">{{ sale.total_excl_tax|currency }}</td>
            <td class="text-right col-xs-3">
                <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
                {% if not hide_edit %}
                <a href="{{ sale.get_edit_url }}" class="btn btn-default btn-sm" role="button">Edit</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>