{% load currency_filters status_filters %}
<table id="datatable" class="table table-responsive table-bordered table-striped" style="width: 100%" style="width: 1142px;border-right-width: 0px;border-left-width: 0px;">
    <thead>
        <tr style="margin-left: 0px; margin-right: 0px;">
            <th class="text-center">#</th>
            {% if detailed %}
            <th class="text-center">Client</th>
            <th class="text-center">Description</th>
            <th class="text-center">Total</th>
            <th class="text-center">Actions</th>
            {% else %}
            <th class="text-center">Client</th>
            <th class="text-center">Total</th>
            <th class="text-center">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tfoot>
        <tr style="margin-left: 0px; margin-right: 0px;">
            <th class="text-center">#</th>
            {% if detailed %}
            <th class="text-center">Client</th>
            <th class="text-center">Description</th>
            <th class="text-center">Total</th>
            <th class="text-center">Actions</th>
            {% else %}
            <th class="text-center">Client</th>
            <th class="text-center">Total</th>
            <th class="text-center">Actions</th>
            {% endif %}
        </tr>
    </tfoot>
    <tbody>
        {% for sale in sales %}
        <tr style="margin-left: 0px; margin-right: 0px;">
            <td class="text-center">{{ sale.number }}</td>
            {% if detailed %}
            <td class="text-center">{{ sale.client }}</td>
            <td class="text-center">{{ sale.description }}</td>
            <td class="text-center">{{ sale.total_excl_tax|currency }}</td>
            <td class="text-center">
                <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
                {% if not hide_edit %}
                <a href="{{ sale.get_edit_url }}" class="btn btn-default btn-sm" role="button">Edit</a>
                {% endif %}
            </td>
            {% else %}
            <td class="text-center">{{ sale.client }}</td>
            <td class="text-center">{{ sale.total_excl_tax|currency }}</td>
            <td class="text-center">
                <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
                {% if not hide_edit %}
                <a href="{{ sale.get_edit_url }}" class="btn btn-default btn-sm" role="button">Edit</a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>