{% load currency_filters status_filters %}

<table id="datatable" class="table table-striped">
    <thead>
        <tr style="margin-left: 0px; margin-right: 0px;">
            <th class="text-center">#</th>
            <th class="text-center">Paid by employee</th>
            <th class="text-center">On</th>
            <th class="text-center">Total</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr class="{{ sale|status_to_css_classname }}" style="margin-left: 0px; margin-right: 0px;">
            <td class="text-center">{{ sale.number }}</td>
            <td class="text-center">{{ sale.employee }}</td>
            <td class="text-center">{{ sale.date_issued }}</td>
            <td class="text-center">{{ sale.total_excl_tax|currency }}</td>
            <td class="text-center">
                <a href="{{ sale.get_detail_url }}" class="btn btn-success btn-sm" role="button">View</a>
                {% if not hide_edit %}
                <a href="{{ sale.get_edit_url }}" class="btn btn-default btn-sm" role="button">Edit</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
