{% load currency_filters %}

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Ref</th>
            <th class="text-center">Detail</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for paym in payments %}
        <tr>
            <td class="text-center">{{ paym.date_paid }}</td>
            <td class="text-center">{{ paym.reference|default:"-" }}</td>
            <td class="text-center">{{ paym.detail }}</td>
            <td class="text-center">{{ paym.amount|currency }}</td>
            <td class="text-center">
                <a href="{% url 'books:payment-edit' paym.pk %}" class="btn btn-default btn-xs" role="button">Edit</a>
                <a href="{% url 'books:payment-delete' paym.pk %}" class="btn btn-danger btn-xs" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
